@font-face {
  font-family: "Circe-Regular";
  src: url("../fonts/Circe/Circe-Regular.eot"); 
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/Circe/Circe-Regular.woff2") format('woff2'),
  url("../fonts/Circe/Circe-Regular.woff") format('woff'),
  url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SBSansDisplay-regular";
  src: url("../fonts/SBSansDisplay/SBSansDisplay-Regular.eot"); 
  src: url("../fonts/SBSansDisplay/SBSansDisplay-Regular.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/SBSansDisplay/SBSansDisplay-Regular.woff2") format('woff2'),
  url("../fonts/SBSansDisplay/SBSansDisplay-Regular.woff") format('woff'),
  url("../fonts/SBSansDisplay/SBSansDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SBSansText-regular";
  src: url("../fonts/SBSansText/SBSansText-Regular.eot"); 
  src: url("../fonts/SBSansText/SBSansText-Regular.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/SBSansText/SBSansText-Regular.woff2") format('woff2'),
  url("../fonts/SBSansText/SBSansText-Regular.woff") format('woff'),
  url("../fonts/SBSansText/SBSansText-Regular.ttf") format("truetype");
}